body {
  height: 100vh;
}

a {
  text-decoration: none;
}

.nav-link img {
  width: 28px;
  height: 28px;
}

.navbar-brand {
  font-family: 'progress_personal_useregular';
  font-size: 1.625rem;
}

span {
  color: white;
  font-family: 'progress_personal_useregular';
  text-transform: uppercase;
  font-size: 1.125rem;
}

@media (hover: hover) and (pointer: fine) {
  .nav-link img:hover {
    transition: scale 300ms ease-in-out;
    scale: 2;
  }
}

@media (max-width: 768px) {
  .nav-link img {
    width: 32px;
    height: 32px;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }
}